td, th {
  text-align: center;
}
td.name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.results {

}

  .results-title {
    margin-top: 5%;
    font-size: 49px !important;
    color: #1e0010; font-weight: 700;
  }
